<div class="bg-home">
  <%= render './shared/navbar' %>

  <div class="container">
    <div class="banner-content">
      <div class="row">
        <div class="col-lg-7 banner-info">
          <h1 class="banner-text-content">Dra. Juliana Viviani Martins </h1>
          <p class="banner-subtitle">Agende uma consulta agora mesmo</p>
          <span class="btn-appointment">Agendar</span>
        </div>
        <div class="col-lg-5">
          <img class="img-doctor" src="https://res.cloudinary.com/dloadb2bx/image/upload/v1623716649/image_1_zhazmo.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
